img {
  max-width: 100%;
}
body {
  margin: 0;
  font-family: menlo;
  font-size: 15px;
}

/**** HEADER ****/
.tab__left {
  font-size: 15px;
  font-weight: bold;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 2;
}

.header__title {
  text-align: center;
  position: relative;
  padding: 50px;
  padding-bottom: 5px;
}

.header__title__text {
  font-size: 50px;
  font-weight: bold;
}

/**** MAIN ****/
.left {
  width: 100vw;
  overflow-x: hidden;
  position: relative;
}

.left div {
  margin-bottom: 50vh;
}

.right {
  position: fixed;
  bottom: 0;
  right: 0;
  max-width: 100%;
  pointer-events: none;
}

.right div {
  margin-bottom: 50vh;
  max-width: 50%;
  padding-left: 350px;
}

/**** LEFT  ****/
/**** STORY ONE ****/
.story-section__one {
  margin-top: 0;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.text__one {
  text-align: left;
  position: relative;
  transform: translate(-21vw, 4vh);
  line-height: 30px;
}

.text__two {
  position: relative;
  transform: translate(15vw, 25vh);
}

.text__three {
  position: relative;
  transform: translate(-3vw, 95vh);
}

.text__four {
  position: relative;
  transform: translate(-12vw, 11vh);
  color: whitesmoke;
}

.duo__one {
  width: 50%;
}

.text__five {
  position: relative;
  transform: translate(12vw, -3vh);
}

.duo__two {
  width: 50%;
  transform: translate(13vw, -3vh);
}

/**** HORIZONTAL ONE****/
.horizontal__one {
  position: relative;
  z-index: 1;
}

.horizontal__one div {
  margin-top: 20px;
}

.horizontal__one img {
  max-width: 50%;
  margin-left: 40px;
}

.horizontal__gallery {
  position: absolute;
  display: flex;
  overflow-x: auto;
  top: 20px;
  width: 100vw;
}

.horizontal__gallery img {
  max-width: 150%;
}

/**** STORY TWO  ****/
.story-section__two {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.story-section__two div {
  margin-bottom: 0vh;
}

.big-quote {
  text-align: center;
  margin-bottom: 300px;
  line-height: 70px;
}

.swans {
  width: 130%;
  position: relative;
  transform: translate(-32vw, 0vh);
}

.trio {
  width: 50%;
  position: relative;
  transform: translate(15vw, -80vh);
  z-index: 1;
}

.kleitrio {
  position: relative;
  transform: translate(20vw, -60vh);
}

.text__seven {
  position: relative;
  transform: translate(-7vw, -10vh);
}

.text__eight {
  position: relative;
  transform: translate(15vw, -110vh);
}

.kruis__one {
  position: relative;
  transform: translate(-1vw, -70vh);
}

.kruis {
  position: relative;
  transform: translate(0vw, -90vh);
}

.kruis__two {
  position: relative;
  transform: translate(-10vw, -148vh);
}

.kruis__three {
  position: relative;
  transform: translate(8vw, -152vh);
}

.kruis__four {
  position: relative;
  transform: translate(-1vw, -115vh);
}

.bless {
  position: relative;
  transform: translate(-30vw, -130vh);
  width: 160%;
  z-index: 1;
}

.red {
  position: relative;
  transform: translate(0vw, -140vh);
}

.text__nine {
  position: relative;
  transform: translate();
  line-height: 50px;
}

/**** STORY THREE  ****/
.story-section__three {
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.doping {
  width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
/**** HORIZONTAL TWO  ****/
.horizontal__two img {
  display: flex;
  justify-content: right;
}

/**** RIGHT  ****/

/**** FOOTER ****/
